<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EmployeeReg1</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
</head>

<body class="text-center">
<div
        th:replace="fragment.html :: NavBar">
</div>

<input class="form-control-plaintext" type="text" value="Welcome !" readonly="" style="font-family: 'Abril Fatface', serif;font-size: 40px;text-align: center;color: #361074;">
    <div></div><a class="text-center" href="/emp/reg/1/" style="text-align: center;">Link</a>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>